<p>
  firebase works!
</p>

<ul>
  <li class="text" *ngFor="let item of items | async">
    {{ item | json }}
    {{ item.name }}
  </li>
</ul>

<h2> firebase popup login </h2>
<div class="container">
  <div class="button-group">
    <div class="button">google</div>
    <div class="button">facebook</div>
    <div class="button">github</div>
  </div>
</div>


<h2> firebase login </h2>
<div class="container">
  <div class="button-group">
    <div class="button">login</div>
    <div class="button">logout</div>
  </div>
</div>
