<p>
  firebase works!
</p>

<ul>
  <li class="text" *ngFor="let item of items | async">
    {{ item | json }}
    {{ item.name }}
  </li>
</ul>

<h2> firebase popup login </h2>
<div class="container">
  <div class="button-group">
    <div class="button">google</div>
    <div class="button">facebook</div>
    <div class="button">github</div>
  </div>
</div>


<h2> firebase login </h2>
<div class="container">
  <div class="button-group">
    <div class="button">login</div>
    <div class="button">logout</div>
  </div>
</div>

<div>
  <p>
    create movie date
  </p>
  <input type="text" #input1/>
  <a (click)="onSaveMovieName(input1.value)">
    save
  </a>
</div>
<div>
  <p>movie List</p>
  <ul>
    <li *ngFor="let movie of movieList$ | async">
      <input type="text" #input2 [value]="movie.movieName"/>
      <a (click)="updateMovie(movie.$key, input2.vlaue)">update</a>
      <a (click)="deleteMovie(movie.$key)">delete</a>
    </li>
  </ul>
</div>
