<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!--<div class="swiper-slide">asdasdsa 1</div>-->
    <!--<div class="swiper-slide">asdasdsa 2</div>-->
    <!--<div class="swiper-slide">asdasdsa 3</div>-->

    <ng-content></ng-content>
  </div>

  <!-- If we need pagination -->
  <!--<div class="swiper-pagination"></div>-->

  <!-- If we need navigation buttons -->
  <!--<div class="swiper-button-prev"></div>-->
  <!--<div class="swiper-button-next"></div>-->

  <!-- If we need scrollbar -->
  <!--<div class="swiper-scrollbar"></div>-->
</div>
