<p>
  dragula works!
</p>

<div>
  <div class='wrapper'>
    <h2>First, A to B, B to A</h2>
    <div class="container" [dragula]='"first-bag"'>
      <div class="text">Moving them anywhere else isn't quite possible</div>
      <div class="text">More interactive use cases lie ahead</div>
    </div>
    <div class="container" [dragula]='"first-bag"'>
      <div class="text">Moving them anywhere else isn't quite possible</div>
      <div class="text">This is the default use case. You only need to specify the containers you want to use</div>
    </div>

    <h2>Second, A to B, Not B to A</h2>
    <div class='container1' [dragula]='"second-bag"' [dragulaOptions]="options">
      <div class="text">This is the default use case. You only need to specify the containers you want to use</div>
      <div class="text">More interactive use cases lie ahead</div>
    </div>

    <div class='container2' [dragula]='"third-bag"' >
      <div class="basket" *ngIf="isBasket" [dragula]='"second-bag"'> basket </div>
      <div class="text">Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
    </div>
  </div>
</div>



<div>
  <h2>api test</h2>
  <div class='container2' [dragula]='"first-bag"'>
    <div>asdasdasd</div>
  </div>
</div>
